@font-face {
    font-family: Icons;
    src: url(../fonts/icons.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
    font-style: normal;
}

:root {
    --bg: #ffffff;
    --primary:#EB6C27;
    --text:#3A3A3A;
    --text-gray: #888888;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: OpenSans, sans-serif;
}

figure {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: var(--text);
}

p {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

.button {
    padding: 12px 40px; 
    background-color: var(--primary);
    color: #ffffff;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    user-select: none;
}

.button-2 {
    border: 1px dashed #EB6C27;
    color: var(--primary);
    background-color: #ffffff;
    padding: 12px 40px;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    user-select: none;
}

.button--white {
    background-color: #ffffff;
    color: var(--primary);
    padding: 20px 50px;
}

.button--arrow {
    display: inline-flex;
    align-items: center;
    padding: 10px 36px; 
}

.button--arrow::after {
    content: "\e900";
    font-family: Icons;
    font-size: 1.8em; 
}


.colored-text {
    color: var(--primary);
}

/* MOBILE 360w verze */

/*INDEX*/

.website-page-header {
    position: relative;
}

.page-navbar {
    width: 100%;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
}

.page-navbar__logo {
    height: 40px;
    width: auto;
    margin: 30px 5px;
}

.page-navbar__hamburger {                                           /*text MENU nad hamburger*/
    padding: 0;
    border: none;
    background-color: white;

    margin-right: 20px;
    cursor: pointer;

    font-family: Icons;
    font-size: 2.7em;
    color: var(--primary);
    background-image: linear-gradient(45deg, #EB6C27, #FFBE9A);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.page-navbar__items {
    display: none;
    list-style-type: none; 
    margin: 0;
    background-color: var(--primary);
    
    position: absolute;
    padding: 35px 0;
    padding-left: 20px;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 1em;
}

.page-navbar__items::before {
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid var(--primary);

    position: absolute;
    top: -18px;
    right: 15px;
}

.page-navbar__items li {
    padding-bottom: 16px;
    text-decoration: underline;
    font-weight: 700;
}

.page-navbar__items li a {
    color: #ffffff;
}

.page-navbar__items li:last-of-type { 
    padding-bottom: 0;
}

.is-active {
    display: block;
}

.page-header {
    background-image: url("../media/pageheader-1920w.jpg");
    box-shadow: inset 0 0 0 1000px rgba(39, 39, 39, 0.8);
    background-color: #303030;
    min-height: 40vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
}

.page-header--other {
    display: none;
}

.page-header__main-heading {
    color: #ffffff;
    text-align: center;
    font-size: 1.9em;
    font-weight: 800;
}

.page-header__second-heading {
    color: #ffffff;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}

.page-header__cta {
    display: none;
    text-align: center;
}

.services, 
.reference {
    margin: 0 30px;
    margin-top: 60px;
}

.services_reference-header {
    margin-bottom: 100px;
}

.services_reference-header__heading {
    font-weight: 700;
    font-size: 1.5em;
}

.services_reference-header__text {
    font-family: Inter;
    font-size: 0.9em;
}

.services__items {
    display: grid;
    grid-template-columns: 1fr;
}

.services-item {
    padding-bottom: 40px;
}

.services-item__img {
    width: 100%;
    min-height: 134px;
    margin-bottom: 20px;
}

.services-item__img--odd {
    border-radius: 0px 0px 40px 0px;
}

.services-item__img--even {
    border-radius: 0px 0px 0px 40px;
}

.services-item__heading {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 1.3em;
    padding-bottom: 15px;
}

.services-item__text {
    font-family: Inter;
    font-weight: 400;
    margin: 0;
    padding-bottom: 20px;
}

.promote {
    background-image: url("../media/background-CTAblock-4460w.jpg");
    background-color: #303030;
    background-size: cover;
    background-position: center center;
    max-height: 440px;
    min-height: 170px;
    box-shadow: inset 0 0 0 1000px rgba(39, 39, 39, 0.8);
    padding: 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promote__text {
    color: #ffffff;
    font-family: Inter;
    font-size: 1.05em;
    font-weight: 700;
}

.promote__text:nth-child(2) {
    padding-bottom: 15px;
    margin: 0;
}

.reference__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.reference-item {
    max-width: 320px;
}

.reference-item__img {
    width: 100%;
}

.reference-item__heading {
    text-align: center;
    font-weight: 700;
    font-size: 1.4em;
    margin: 10px 0;
}

.reference-item__text {
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
}

.reference__cta {
    text-align: center;
}

.page-footer {
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.page-footer__heading {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 15px;
}

.page-footer__text {
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    margin-bottom: 30px;
    font-weight: 400;
    padding: 0 15px;
}

.page-footer_cta {
    margin-bottom: 70px;
}


/* NOVOSTAVBY úpravy */

.services-novostavby-list {
    padding: 0;
    margin-left: 30px;
    margin-top: 0;
}

.services-novostavby-list li::marker {
    color: var(--primary);
    font-size: 2em;
}

.services_reference-header--novostavby {
    margin-bottom: 20px;
}




/* DESKTOP 1920w verze */
@media (min-width: 1080px) {

    .button {
        font-weight: 500;
    }


    /* INDEX */
    .page-navbar__hamburger {
        display: none;
    }

    .page-navbar__items::before {
        display: none;
    }

    .page-navbar {
        width: inherit;
        position: absolute;
        top: 35px;
        right: 100px;
        left: 100px;
        height: 65px;
    }

    .page-navbar__logo {
        margin: 10px;
    }

    .page-navbar__items {
        position: static;
        background-color: #ffffff;
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    .page-navbar__items li {
        text-decoration: none;
        font-weight: 400;
        font-size: 0.8em;
        padding: 0;
        display: flex;
    }

    .page-navbar__items li a {
        height: 65px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        color: var(--text);
    }

    .nav-active {
        background-color: var(--primary);
    }

    .nav-active a {
        color: #ffffff !important;
    }
    .page-navbar__items li:hover {                                   
        background-color: var(--primary);
        transition: 0.2s;
    }
    .page-navbar__items li:hover > a { 
        color: #ffffff;
    }

    .page-header {
        min-height: 85vh;
        padding-bottom: 35px;
    }

    .page-header--other {
        display: flex;
        min-height: 12vh;
    }

    .page-header--other * {
        display: none;
    }

    .page-header__main-heading {
        font-size: 4em;
    }

    .page-header__second-heading {
        font-size: 2em;
    }

    .page-header__cta {
        display: block;
    }

    .services,
    .reference {
        margin: 0 100px;
        margin-top: 100px;
    }
    .services_reference-header__heading {
        text-align: center;
        font-size: 2.6em;
    } 

    .services_reference-header__text {
        text-align: center;
        width: 62%;
        margin: 16px auto;
    }

    .services__items {
        grid-template-columns: 1fr 1fr;
        gap: 55px;
        grid-auto-flow: dense;
        align-items: center;
    }

    .services-item__img--even {
        grid-column-start: 2;
    }

    .promote {
        margin-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .promote__text {
        font-size: 1.5em;
    }

    .reference {
        margin-top: 110px;
    }

    .reference-item {                                   
        position: relative;
    }

    .reference-item__img:hover + .reference-item__info {
        background-color: rgba(235, 108, 39, 0.9);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .reference-item__img:hover + .reference-item__info * {
        color: #ffffff;
    }

    .reference-item__info {
        display: none;
        position: absolute;
        background-color: var(--primary);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .reference-item__info * {
        color: #ffffff;
    }

    .page-footer { 
        margin-top: 180px;
    }

    .page-footer__heading {
        font-size: 2.6em;
    }

    /* NOVOSTAVBY úpravy */

    .novostavby-text {
        text-align: left;
        width: 75%;
        margin-left: 0;
}

}


/*  https://www.w3schools.com/css/css3_images.asp */